In [1]:
import numpy as np
import os
import pandas as pd
import PIL
import matplotlib.pyplot as plt

In [2]:
image_path=r"C:\Users\USER\Desktop\Image classification\train"
file_path=[os.path.join(image_path,i) for i in os.listdir(image_path)]

In [3]:
labels=[i for i in os.listdir(image_path)]
targets=[i.split(".")[0] for i in labels]
y=targets

In [4]:
data=pd.DataFrame({"Pictures":file_path,"Names":targets})

In [5]:
data

                                                Pictures Names
0      C:\Users\USER\Desktop\Image classification\tra...   cat
1      C:\Users\USER\Desktop\Image classification\tra...   cat
2      C:\Users\USER\Desktop\Image classification\tra...   cat
3      C:\Users\USER\Desktop\Image classification\tra...   cat
4      C:\Users\USER\Desktop\Image classification\tra...   cat
...                                                  ...   ...
24995  C:\Users\USER\Desktop\Image classification\tra...   dog
24996  C:\Users\USER\Desktop\Image classification\tra...   dog
24997  C:\Users\USER\Desktop\Image classification\tra...   dog
24998  C:\Users\USER\Desktop\Image classification\tra...   dog
24999  C:\Users\USER\Desktop\Image classification\tra...   dog

[25000 rows x 2 columns]

In [7]:
datac=data[data["Names"]=='cat']
datad=data[data['Names']=='dog']

In [8]:
datac=datac[:5000]

In [9]:
datac

                                               Pictures Names
0     C:\Users\USER\Desktop\Image classification\tra...   cat
1     C:\Users\USER\Desktop\Image classification\tra...   cat
2     C:\Users\USER\Desktop\Image classification\tra...   cat
3     C:\Users\USER\Desktop\Image classification\tra...   cat
4     C:\Users\USER\Desktop\Image classification\tra...   cat
...                                                 ...   ...
4995  C:\Users\USER\Desktop\Image classification\tra...   cat
4996  C:\Users\USER\Desktop\Image classification\tra...   cat
4997  C:\Users\USER\Desktop\Image classification\tra...   cat
4998  C:\Users\USER\Desktop\Image classification\tra...   cat
4999  C:\Users\USER\Desktop\Image classification\tra...   cat

[5000 rows x 2 columns]

In [10]:
datad=datad[:5000]

In [11]:
datad

                                                Pictures Names
12500  C:\Users\USER\Desktop\Image classification\tra...   dog
12501  C:\Users\USER\Desktop\Image classification\tra...   dog
12502  C:\Users\USER\Desktop\Image classification\tra...   dog
12503  C:\Users\USER\Desktop\Image classification\tra...   dog
12504  C:\Users\USER\Desktop\Image classification\tra...   dog
...                                                  ...   ...
17495  C:\Users\USER\Desktop\Image classification\tra...   dog
17496  C:\Users\USER\Desktop\Image classification\tra...   dog
17497  C:\Users\USER\Desktop\Image classification\tra...   dog
17498  C:\Users\USER\Desktop\Image classification\tra...   dog
17499  C:\Users\USER\Desktop\Image classification\tra...   dog

[5000 rows x 2 columns]

In [12]:
#for male and female
Male=r"C:\Users\USER\Desktop\Image classification\Training\male"
Female=r"C:\Users\USER\Desktop\Image classification\Training\female"

In [13]:
Male_path=[os.path.join(Male,i) for i in os.listdir(Male)]
Female_path=[os.path.join(Female,i) for i in os.listdir(Female)]
Male_Pic=[i for i in os.listdir(Male)]
Female_Pic=[i for i in os.listdir(Female)]

In [17]:
Males=[i.split(".")[0] for i in Male_Pic]
Females=[i.split(".")[0] for i in Female_Pic]

In [18]:
Men=[]
Women=[]
for name in Males:
    name="Male"
    Men.append(name)
for name in Females:
    name="Female"
    Women.append(name)

In [19]:
Male_data=pd.DataFrame({"Pictures":Male,"Names":Men})
Female_data=pd.DataFrame({"Pictures":Female,"Names":Women})

In [20]:
Paths=[]
for name in datac['Pictures']:
    Paths.append(name)
for name in datad['Pictures']:
    Paths.append(name)
for name in Male_path[:5000]:
    Paths.append(name)
for name in Female_path[:5000]:
    Paths.append(name)
    
len(Paths),len(file_path),len(Male_path),len(Female_path)

(20000, 25000, 23766, 23243)

In [21]:
Names=[]
for name in datac['Names']:
    Names.append(name)
for name in datad['Names']:
    Names.append(name)
for name in Men[:5000]:
    Names.append(name)
for name in Women[:5000]:
    Names.append(name)
    
len(Names),len(targets),len(Men),len(Women)

(20000, 25000, 23766, 23243)

In [22]:
Data=pd.DataFrame({"Pictures":Paths,"Names":Names})
Data

                                                Pictures   Names
0      C:\Users\USER\Desktop\Image classification\tra...     cat
1      C:\Users\USER\Desktop\Image classification\tra...     cat
2      C:\Users\USER\Desktop\Image classification\tra...     cat
3      C:\Users\USER\Desktop\Image classification\tra...     cat
4      C:\Users\USER\Desktop\Image classification\tra...     cat
...                                                  ...     ...
19995  C:\Users\USER\Desktop\Image classification\Tra...  Female
19996  C:\Users\USER\Desktop\Image classification\Tra...  Female
19997  C:\Users\USER\Desktop\Image classification\Tra...  Female
19998  C:\Users\USER\Desktop\Image classification\Tra...  Female
19999  C:\Users\USER\Desktop\Image classification\Tra...  Female

[20000 rows x 2 columns]

In [23]:
Data['Names'].value_counts()

cat       5000
dog       5000
Male      5000
Female    5000
Name: Names, dtype: int64

In [24]:
from keras.utils import img_to_array

In [25]:
import scipy.misc

In [26]:
import imageio

In [27]:
from PIL import Image

In [28]:
Pics=[]
label=[]
for pic in Data['Pictures']:
    img=imageio.v2.imread(pic)
    img=np.array(Image.fromarray(img).resize(size=(64,64)))  
    img= img_to_array(img)
    Pics.append(img)

In [29]:
for name in Data['Names']:
    if name=='cat':
        label.append(0)
    elif name=='dog':
        label.append(1)
    elif name=='Male':
        label.append(2)
    else:
        label.append(3)

In [30]:
Pics=np.array(Pics,dtype="float")/255.0
label=np.array(label)

In [31]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(Pics,label,test_size=0.3,random_state=42)

In [32]:
import keras

In [33]:
y_train=keras.utils.to_categorical(y_train,num_classes=4)
y_test=keras.utils.to_categorical(y_test,num_classes=4)

In [34]:
import tensorflow as tf

In [35]:
from tensorflow.keras.preprocessing.image import load_img

In [36]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv2D, MaxPooling2D, MaxPool2D
from keras import backend as K

In [37]:
model=Sequential()
model.add(Conv2D(32,kernel_size=(3,3),activation="relu",input_shape=(64,64,3)))
model.add(MaxPool2D((2,2)))
model.add(Conv2D(64, (3,3), activation='relu'))
model.add(MaxPool2D((2,2)))
model.add(Flatten())
model.add(Dense(64,activation="relu"))
model.add(Dense(4,activation="softmax"))

In [38]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),loss="categorical_crossentropy",metrics=["accuracy"])

In [39]:
model.fit(x_train,y_train,epochs=15,validation_data=(x_test,y_test),shuffle=True)

Epoch 1/15
438/438 [==============================] - 100s 219ms/step - loss: 0.5990 - accuracy: 0.7014 - val_loss: 0.4289 - val_accuracy: 0.8022
Epoch 2/15
438/438 [==============================] - 102s 234ms/step - loss: 0.4143 - accuracy: 0.8078 - val_loss: 0.3959 - val_accuracy: 0.8208
Epoch 3/15
438/438 [==============================] - 106s 242ms/step - loss: 0.3562 - accuracy: 0.8414 - val_loss: 0.3776 - val_accuracy: 0.8297
Epoch 4/15
438/438 [==============================] - 109s 249ms/step - loss: 0.3095 - accuracy: 0.8639 - val_loss: 0.3605 - val_accuracy: 0.8395
Epoch 5/15
438/438 [==============================] - 109s 248ms/step - loss: 0.2822 - accuracy: 0.8760 - val_loss: 0.3636 - val_accuracy: 0.8365
Epoch 6/15
438/438 [==============================] - 110s 251ms/step - loss: 0.2498 - accuracy: 0.8904 - val_loss: 0.3918 - val_accuracy: 0.8272
Epoch 7/15
438/438 [==============================] - 111s 254ms/step - loss: 0.2137 - accuracy: 0.9094 - val_loss: 0.3872 - val_accuracy: 0.8352
Epoch 8/15
438/438 [==============================] - 113s 259ms/step - loss: 0.1832 - accuracy: 0.9231 - val_loss: 0.4023 - val_accuracy: 0.8320
Epoch 9/15
438/438 [==============================] - 113s 258ms/step - loss: 0.1461 - accuracy: 0.9404 - val_loss: 0.4455 - val_accuracy: 0.8408
Epoch 10/15
438/438 [==============================] - 115s 263ms/step - loss: 0.1166 - accuracy: 0.9528 - val_loss: 0.5014 - val_accuracy: 0.8307
Epoch 11/15
438/438 [==============================] - 114s 260ms/step - loss: 0.0915 - accuracy: 0.9654 - val_loss: 0.5149 - val_accuracy: 0.8385
Epoch 12/15
438/438 [==============================] - 115s 262ms/step - loss: 0.0660 - accuracy: 0.9763 - val_loss: 0.6070 - val_accuracy: 0.8397
Epoch 13/15
438/438 [==============================] - 115s 262ms/step - loss: 0.0531 - accuracy: 0.9812 - val_loss: 0.7004 - val_accuracy: 0.8275
Epoch 14/15
438/438 [==============================] - 114s 261ms/step - loss: 0.0412 - accuracy: 0.9863 - val_loss: 0.7253 - val_accuracy: 0.8323
Epoch 15/15
438/438 [==============================] - 117s 267ms/step - loss: 0.0434 - accuracy: 0.9851 - val_loss: 0.7617 - val_accuracy: 0.8172

In [40]:
save_path="./model8.h5"
model.save(save_path)
model=keras.models.load_model(save_path)